@import "tailwindcss";

@theme {
    --color-cyan: var(--color-cyan-400);
    --color-cyanL: var(--color-cyan-200);
    --color-purple: var(--color-purple-500);
    --color-purpleL: var(--color-purple-300);
}